.contact-form{
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    max-height: calc(100% - 35px);
    overflow-y: auto;
}
.contact-form__form{
    width: 100%;
}
.contact-form__form input:focus{
    outline: none;
}
.form__names{
    display: flex;
    flex-wrap: wrap;

}
.form__input{
    box-sizing: border-box;
    padding: 0 10px;
    flex-grow: 1;
}
.form__input--title-text{
    display: flex;
    justify-content: space-between;
}
.form__input--title{
    margin: 10px 0;
} 
.form__input--textarea__char-count{
    display: flex;
    margin: 10px 0;
    top: 60px;
}
.form__input--textfield{
    display: flex;
    border-radius: 5px;
    border: 1px solid gray;
    box-sizing: border-box;
    height: 30px;
    padding: 10px;
    font-family: Arial, serif;
    width: 100%;
}
.form__submit{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin: 0 10px;
}
.form__submit--message{
    font-size: 16px;
}
#contact-form__Message{
    width: 100%;
    min-height: 100px;
    max-height: 250px;
    resize: vertical; 
}
#contact-form__submit{
    background-color: #1e90ff;
    color: white;
    margin-top: 10px;
    height: 30px;
    border-radius: 5px;
    border: 2px dodgerblue solid;
}
#contact-form__submit:hover{
     filter: brightness(90%);
     cursor: pointer;
}
#contact-form__submit:disabled{
    background-color: gray;
    border-color: gray;
}
#contact-form__submit:disabled:hover{
    filter: none;
}
.contact-form__input--red{
    border: red solid 1px ;
}

