.personalia {
    background-image: linear-gradient(rgb(122, 186, 254), rgb(0, 11, 128));
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: white;
}
.personalia__personal{
    display: flex;
    justify-content: center;
}
.personal__photo {
    display: flex;
    box-sizing: border-box;
    border-radius: 50%;
    width: 20svh;
    object-fit: cover;
    height: 20svh;
    animation: glow 3s ease alternate;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
    margin: 10px 0;
}
.personal__info{
    display: flex;
    flex-flow: column;
    width: 60%;
    box-sizing: border-box;
    margin: 0 20px;
}
.personal__info--name{
    margin-bottom: 0;
}
.personal__info--about-me{
    font-size: 14px;
    color: white;
}
.personalia__contact-info{
    border-radius: 16px;
    background-color: rgba(203, 228, 232, 0.25);
    box-shadow: 2px 2px 20px 2px rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin: 35px 10px;
    max-width: 90vw;
}
.contact-info__title{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}
.contact-info__options{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    padding: 20px;
    box-sizing: border-box;
}
.contact-info__option{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
    justify-content: flex-start;
}
.contact-info__option--icon{
    width: 30px;
    height: 30px;
    background-color: dodgerblue;
    border-radius: 20%;
}

.contact-info__option--icon img{
    width: 100%;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
    filter: invert(100%);
}
.contact-info__text{
    font-size: 14px;
    color: white;
}
#linkedInHref{
    text-decoration: none;
}
#linkedInHref:hover{
    text-decoration: underline;
    cursor: pointer;
}
