/*mobile version*/
@import "cookie.css";
@import "personalia.css";
@import "profile.css";
@import "contactform.css";

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


:root{
    --background-color-main: white;
}
@media (prefers-color-scheme: dark){
    :root{
        --background-color-main: red;
    }
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
}
.main {
    display: flex;
    flex-direction: column;
    font-family: Arial, serif;
    height: 100%;
}
.category-title {
    color: rgba(39, 71, 140, 0.96);
    margin: 10px 0;
}
.hide{
    display: none;
}
.show{
    display: block;
}


@media only screen and (min-width: 860px) {
    .main {
        flex-direction: row;
    }
    .profile-content__category--hidden-mobile{
        display: flex;
        flex-direction: column;
    }
    .profile-content__category--hidden-mobile hr{
        width: 100%;
    }
    .profile-content__element--hidden-mobile {
        display: flex;
    }
    .profile__content--element__header{
        display: flex;
        justify-content: space-between;
    }
    .profile__content--element__period {
        font-size: 12px;
        color: #5c6166;
        display: flex;
    }
}

